##
# Helpdesk provider API keys. All are optional, but MUST be set in order to use that helpdesk.
#
# Be sure to make a copy of this file and name it .env, and set the values accordingly in your .env file (not here!).
##

# Front.com API Key (required)
# Get this from Front.com > Settings > API & Webhooks > API Tokens
FRONT_API_KEY=
